blinker==1.7.0
bs4==0.0.1
Flask==2.3.3
gevent==25.9.1
gTTS==2.3.2
gunicorn==22.0.0
groq==1.0.0
httpx==0.27.2
Pillow==12.2.0
psycopg2-binary==2.9.12
PyPDF2==3.0.1
python-docx==1.1.0
pyTelegramBotAPI==4.9.0
requests==2.31.0
